.header {
  background-color: #1e1e30;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    height: 56px;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 567px) {
  .header {
    padding: 0 1rem;
  }
}

.website-heading {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.covid19-heading {
  color: #f8fafc;
}

.india-heading {
  color: #3b82f6;
}

.navbar {
  list-style-type: none;
}

.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks-container {
  display: flex;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 767px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    height: calc(100vh - 56px);
  }
}

.nav-link {
  text-decoration: none;
}

.nav-tab {
  color: #94a3b8;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-inline: 1rem;
}

.active-tab {
  color: #f8fafc;
}

.mobile-navmenu-togglebtn {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-navmenu-togglebtn {
    display: block;
  }
}

.mobile-navbar-toggle-btn,
.mobile-navbar-close-btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
