.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.website-heading {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.covid19-heading {
  color: #f8fafc;
}

.india-heading {
  color: #3b82f6;
}

.website-description {
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #94a3b8;
}

.social-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.social-icon {
  width: 42px;
  height: 46px;
  color: #cbd5e1;
}
